

.banner-container {
    position: relative;
    background-image: url('https://i.ibb.co/Rc5Bvnw/Rectangle-4281.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px; 
  }

  
  .banner-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.865); 
  }